body {
  background: #040007;
}
h1 {
  color: #ff206e;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 47px;
}
h2 {
  margin: 0 0 3px;

  font-size: 26px;
  font-weight: 600;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
}
select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #fcf9ff;
  padding: 45px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 25px 0;
  border-bottom: 1px dashed rgb(214, 214, 214);
}
.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.7;

  font-size: 13px;
  font-weight: 700;
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
}
.time {
  font-size: 43px;
  font-weight: bold;
  color: #252525;
}
.time small {
  font-size: 20px;
  vertical-align: top;
  color: #ff206e;
}

footer {
  color: #d5cedc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
a {
  color: #ff206e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: pink;
}
