body {
  background: whitesmoke;
  color: darkslategrey;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  color: darkslategrey;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: pink;
}
